html {
  font-family: arial;
}

label, input {
  display: block;
  margin-bottom: 20px;
}

.btn {
  border: 1px solid #CCC;
  background: #FF0000;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.link.selected {
  background: #CCC;
}

.link[disabled='disabled'] {
  text-decoration: none;
  color: #000;
  pointer-events: none;
}



.next {
  display: none;
}